.main-container {
  height: 100vh;
  max-width: 1000px;
  background-color: black;
  margin: auto;
}
body {
  margin: 0;
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 0;
}
.main-canvas {
  border: 1px solid white;
  background-color: white;
}
.main1 {
  display: flex;
  justify-content: center;
}
.m {
  margin: 0;
}
.colors:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.colors {
  height: 25px;
  margin: 5px;
  width: 25px;
}
.colors-border {
  border: 1px solid white;
}
.red {
  background-color: red;
}
.blue {
  background-color: blue;
}
.green {
  background-color: green;
}
.orange {
  background-color: orangered;
}
.yellow {
  background-color: yellow;
}
.black {
  background-color: black;
  border: 1px solid white;
}
.gray {
  background-color: gray;
}
.white {
  background-color: white;
  border: 1px solid black;
}
.brown {
  background-color: brown;
}
.violet {
  background-color: blueviolet;
}
/* TOOLS */
.tools:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.tools {
  margin: 5px;
  font-size: 25px;
}
.toolcolor {
  color: greenyellow;
}
.toold {
  color: white;
}
.main2 {
  display: flex;
  max-width: 111px;
  flex-wrap: wrap;
  margin: 0px;
}
.h31 {
  padding: 10px;
  margin: 0;
}
.shapes {
  margin: 7px;
  font-size: 25px;
}
.shapes:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.square {
  border: 1px solid black;
  position: absolute;
}
#ncanvas {
  height: 500px;
  width: 600px;
  position: absolute;
  z-index: 1;
  background-color: transparent;
  margin-right: 120px;
}
.rectangle {
  position: absolute;
  border: 2px solid;
}
.ellipse {
  position: absolute;
  border: 2px solid;
  border-radius: 50%;
}
